.asideBar {
    height: calc(100vh - 80px);
    padding: var(--pd-sm);
    position: sticky;
    top: 120px;
    overflow: auto;
    margin: 1rem auto;
}

h1 {
    margin-top: var(--fs-sm-2);
}

.clearFilter {
    background-color: var(--red-2);
    border: 1px solid var(--red-3);
    box-shadow: var(--bs-xxs);
    margin: auto;
    transition: 0.2s ease-in;
    font-size: var(--fs-xxs-1);
    cursor: pointer;
    padding: var(--pd-xxs);
    border-radius: 0.8rem;
}

.clearFilter:hover {
    background-color: var(--danger);
    color: #fff;
}