.asideBar {
    height: calc(100vh - 80px);
    padding: var(--pd-sm);
    position: sticky;
    top: 120px;
    overflow: auto;
    margin: 1rem auto;
}


.asideOnToggle {
    display: initial;
    background-color: white;
    position: fixed;
    left: -30px;
    top: 5rem;
    bottom: 0;
    width: 280px;
    height: 100vh;
    padding: var(--space-xs) var(--space-sm) var(--space-md);
    transition: 0.1s ease-in-out all;
    transform: translateX(10%);
    z-index: 9999;
}

h1 {
    margin-top: var(--fs-sm-2);
}

.clearFilter {
    background-color: var(--red-2);
    border: 1px solid var(--red-3);
    box-shadow: var(--bs-xxs);
    transition: 0.2s ease-in;
    font-size: var(--fs-xxs-1);
    cursor: pointer;
    padding: var(--pd-xxs);
    border-radius: 0.8rem;
}

.clearFilter:hover {
    background-color: var(--danger);
    color: #fff;
}

.btnWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0.5rem;
    align-items: center;
}

.closeBtn {
    color: var(--red-6);
    background-color: initial;
    border: 0;
    font-size: var(--fs-xs-1);
    padding-top: 0.7rem;
}

@media screen and (max-width: 900px){

    .asideBar {
        display: none;
    }

    .asideOnToggle {
        display: block;
    }
}

@media screen and (max-width: 720px){
    .asideOnToggle {
        top: 9.2rem;
    }
}

@media screen and (max-width: 500px){
    .asideOnToggle {
        top: 8rem;
    }
}