.modalContainer {
    position: fixed;
    z-index: 21;
    top: 50%;
    left: 50%;    
    transform: translate(-50%, -50%);
    max-width: 460px;
}

.modal {
    background-color: white;
    border-radius: var(--br-sm);
    box-shadow: var(--bs-md);
    flex-direction: column;    
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    background-color: var(--primary);
    color: white;
    padding: var(--pd-xs);
    border-radius: var(--br-sm) var(--br-sm) 0 0;
}

.header > h1 {
    margin: 0;
}

.closeBtn {
    cursor: pointer;
    background-color: initial;
    border: 0;
    color: white;
    font-weight: var(--fw-7);
    font-size: var(--fs-sm-1);
    padding-top: 1rem;
}

.modalbody {
    padding: var(--pd-sm);
}

.addressInput {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    padding-bottom: 0.8rem;
}

.label {
    font-weight: var(--fw-7);
    color: var(--primary-theme-color);
}

.input {
    border: 1px solid var(--primary);
    padding: 0.4rem 0.8rem;
    border-radius: var(--br-xl);
    font-weight: var(--fw-5);
}

.footer {
    display: flex;
    gap: 0.25rem;
    justify-content: space-between;
    padding: var(--pd-xs);
}

.dummyBtn {
    border: 0;
    background-color: initial;
    color: var(--primary);
    font-size: var(--fs-xxs-2);
    cursor: pointer;
    padding: 0.4rem var(--space-xs);
    border-radius: var(--br-xs);
}

.dummyBtn:hover {
    background-color: var(--light);
}

.updateBtn {
    border: 0;
    background-color: var(--primary);
    color: white;
    font-size: var(--fs-xxs-2);
    cursor: pointer;
    padding: 0.4rem var(--space-xs);
    border-radius: var(--br-xs);
    text-transform: capitalize;
}

.updateBtn:hover {
    background-color: #0390e2;
    color: white;
}

@media screen and (max-width: 500px) {

    .modalContainer {
        width: 85%;
    }

    .modalbody {
        padding: var(--space-xs) var(--space-xs) 0;
    }

    .header {
        padding: 0.8rem var(--space-xs);
    }

    .footer {
        padding: var(--space-xxs);
    }

    .updateBtn, .dummyBtn {
        font-size: var(--fs-xxs-1);
        padding: 0.4rem 0.8rem;
    }

    .label {
        font-size: var(--fs-xxs-2);
    }

    .input {
        font-size: var(--fs-xxs-1);
    }
}