.table {
    margin: var(--space-lg) auto;
    max-width: 400px;
}

.tableRow {
    display: flex;
    justify-content: flex-start;
    gap: 0.5rem;
}


.tableData {
    font-size: var(--fs-sm-1);
    padding: var(--space-xxs) var(--space-sm);
}

.heading {
    font-weight: var(--fw-6);
    text-decoration: underline;
}

.email {
    max-width: 20px;
    text-overflow: ellipsis;
    overflow: auto;
}

.logout {
    width: fit-content;
    margin: 2.5rem auto 0;
    border-radius: var(--br-xs);
    border: none;
    box-shadow: var(--bs-xs);
    color: white;
    cursor: pointer;
    font-size: var(--fs-xs-2);
    padding: 0.4rem var(--space-sm);
    background-color: var(--danger);
    transition: 0.3s ease-in;
}

.logout:hover {
    background-color: var(--red-5);;
}

@media screen and (max-width: 768px){
    .tableData {
        font-size: var(--fs-xs-1);
    }
}

@media screen and (max-width: 500px){

    .tableRow {
        flex-wrap: wrap;
    }

    .tableData {
        font-size: var(--fs-xxs-2);
        padding: var(--space-xxs);
    }
}